
.anchor {
    fill: #999;
    stroke: #000;
}

.tag {
    fill: #3f3;
    stroke: #6f6;
}

.qualityRing {
    fill: #33f;
    stroke: #ddd;
    fill-opacity: .1;
}

.grid {
    stroke: #bbb
}


.sensor-tip {
    position: absolute;
    text-align: left;
    width: 260px;
    height: 128px;
    padding: 10px;
    font: 12px sans-serif;
    background: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    pointer-events: none;
}
